
 <div style="text-align:center">
  <h1>
    <!-- {{loading}} -->
  </h1>
  <button class="btn btn-success btn-sm" (click)="getmarvel_super_hero_character()">GET CHARACTERS</button>
<br>
<br>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-2">Characters</h1>
    <textarea class="lead">{{data}}</textarea>
  </div>
</div>
  <div style="float:right;border-style: solid;width:30%">
    <img src="{{data}}"/>
    <p>Story</p>
    {{data}}

    <p>Description</p>
    {{data}}
  </div>
</div>